@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


.login-container {
    width: 800px !important;
    margin-top: 15%;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }


  .quick-info-popup.e-schedule .e-quick-popup-wrapper .e-event-popup .e-popup-header {
    background: #fff;
  }
  
  .quick-info-popup.e-schedule .e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-close {
    color: black;
  }
  
  .quick-info-popup.e-schedule .e-quick-popup-wrapper .e-event-popup .e-popup-content {
    padding: 8px 18px 8px 26px;
  }
  
  .quick-info-popup.e-schedule .e-quick-popup-wrapper .e-event-popup .e-popup-footer {
    display: block;
  }